.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  background-color: #081c6c;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-svg {
  width: 109px;
  height: 38px;
  cursor: pointer;
}
.select-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  width: 100%;
}
.home {
  font-family: "Rubik";
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
.about {
  font-family: "Rubik";
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
.ourBusiness {
  font-family: "Rubik";
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
.projects {
  font-family: "Rubik";
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
}
.services {
  font-family: "Rubik";
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
.contact {
  font-family: "Rubik";
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
.joinus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-png {
  width: 100%;
  height: 550px;
}
.background-color {
  position: absolute;
  width: 100%;
  height: 550px;
  left: 0px;
  top: 60px;

  background: linear-gradient(0deg, #001833, #001833), #001833;
  opacity: 0.75;
}
.joinus-text {
  position: absolute;

  width: 142px;
  height: 43px;
  left: 689px;
  top: 233px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.join-button {
  position: absolute;
  display: flex;
  width: 290px;
  height: 40px;
  left: 620px;
  top: 307px;
  gap: 1em;
}
.join-team {
  width: 140px;
  height: 40px;
}

.join-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  background: #d2232a;
  border-radius: 8px;
  cursor: pointer;
}
.join-text {
  width: 91px;
  height: 24px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  color: #ffffff;
}
.culture {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

.culture-text {
  width: 49px;
  height: 24px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}
